@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "variables";
@import "layer-base";
@import "layer-utilities";
@import "layer-components";

.active-link {
  color: #0b0b0b;
  border-bottom: 2px solid #0b0b0b;
  transition: all 0.25s ease-in-out;
}
